@{
    ViewData["Title"] = "Home Page";



}

<div class="d-flex justify-content-around align-items-center mt-5">
  @*  <button class="btn btn-outline-success" onclick="window.location.pathname = "/Cadastrar/;">Atualizar</button>*@

    <button onclick="window.location.pathname = '/Cadastrar';" class="btn btn-outline-primary btn-lg">Cadastrar</button>
    <button onclick="window.location.pathname = '/Home/Consultar';" class="btn btn-outline-success btn-lg">Consultar</button>
</div>
